@page "/ejercicio7"
@using System.Net.Http;
@inject HttpClient http


<style>
    img {
        width: 80%;
        padding: 60px;
    }

    .hidden {
        opacity: 0;
        display: none;
    }

    .search-container {
        display: flex;
        margin: 10px;
        width: 80%;
    }

    input:focus {
        border: 1px solid #22CBA8;
        box-shadow: none !important;
    }

    .btn-search {
        border: none;
        padding-bottom: 10px 25px;
        border-radius: 0 5px 5px 0;
        background-color: #22CBA8;
        color: #fff;
        margin-left: -15px;
        cursor: pointer;
    }

    .no-border {
        border: none !important;
    }

    .flex-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 30px 15px;
        background-color: #efefef;
        color: #406163;
    }

    .pokemon-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 60px 15px; */
    }

    .cp-text span {
        font-size: 16px;
    }

    .img-container {
        position: relative;
        z-index: 2;
        border-radius: 50%;
        text-align: center;
    }

    /* .img-container::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 138px;
    height: 25px;
    left: 37%;
    position: absolute;
    background-color: rgba(117, 117, 117, 0.2);
    box-shadow: 0 0 17px rgba(117, 117, 117, 0.5);
    bottom: 72px;
} */

    .detail-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 30px 60px;
        border-radius: 10px;
        background-color: #fff;
        width: 100%;
        margin-top: -150px;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
    }

    .seperator {
        border-color: #6EECB7 !important;
        border-width: 10px;
        border-radius: 5px;
    }

    .btn-transfer {
        margin: 45px 0;
        padding: 15px 30px;
        background: linear-gradient(to right, #9EDA93, #22CBA8);
        border-radius: 25px;
        border: none;
        color: #fff;
        min-width: 60%;
    }

    .stats span.first {
        border-right: 1px solid #eee
    }

    .attributes-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 100%;
        text-transform: capitalize;
    }

    .cp-text {
        padding-right: 10px;
        border-right: 1px solid #eee;
        margin: 0;
    }

        .cp-text:last-child {
            border: none;
        }

    .player-data {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
        border-top: 1px solid #eee;
        padding-top: 15px;
        text-align: center;
    }

    .data-container p {
        margin-bottom: 0;
    }

    #update_name, #update_candy_title {
        text-transform: capitalize;
    }
</style>

<div class="container flex-center">
    <h2>Pokemon</h2>
    <small class="text-muted">¿Está tu pokemon en nuestro Codex?</small>
    <div class="search-container col-md-5 col-sm-5">
        <input type="text" @bind-value="buscar" class="form-control" id="search_q" placeholder="Buscar pokemon por su nombre">
        <button class="btn-search" id="search-btn" @onclick="GetPokemon"> 
            <i class="oi oi-magnifying-glass" aria-hidden="true"></i>
        </button>
    </div>
    <div id="show_error" class="hidden alert alert-danger alert-dismissible fade" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Cerrar</span>
        </button>
        <strong>How weird!</strong> We don't know that pokemon :(
    </div>
    <div class="col-md-5 col-sm-5 pokemon-card" id="pokemon_details" style="visibility:@estado">
        <div class="img-container">
            <img id="update_img" src="@imagen" alt="" srcset="">
        </div>
        <div class="detail-container">
            <div class="title-container">
                <h3 class="name text-center" id="update_name">@name</h3>
                <hr class="seperator">
                <div class="stats text-center">
                    <span class="first cp-text col-md-6" id="update_hp">HP 32/32</span>
                    <span class="cp-text col-md-6" id="update_cp">XP @xp</span>
                </div>
            </div>
            <button class="btn-transfer">TRANSFER</button>
            <div class="attributes-container">
                <div class="col attributes-content" style="min-width: 42%;">
                    <p class="cp-text" id="update_type">@tipo</p>
                    <small class="text-muted">Tipo</small>
                </div>
                <div class="col attributes-content">
                    <p class="cp-text" id="update_weight">@ancho kg</p>
                    <small class="text-muted">Ancho</small>
                </div>
                <div class="col attributes-content">
                    <p class="cp-text no-border" id="update_height">@alto m</p>
                    <small class="text-muted">Alto</small>
                </div>
            </div>
            <div class="player-data">
                <div class="col data-container">
                    <p class="stardust" id="update_stardust">@habilidad</p>
                    <p class="muted-text">Habilidad</p>
                </div>
                <div class="col data-container">
                    <p class="stardust" id="update_candy">@movimiento</p>
                    <p class="muted-text" id="update_candy_title">Movimiento</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    string name = "", imagen = "", tipo = "", ancho = "", alto = "", xp = "", habilidad = "", movimiento = "", buscar="";
    string estado = "hidden";
    int id = 0;
    Pokemon oPokemon = null; //fa fa-search
    private async Task GetPokemon()
    {
        var url = "https://pokeapi.co/api/v2/pokemon/"+buscar;
        oPokemon = await http.GetJsonAsync<Pokemon>(url);
        name = oPokemon.name;
        tipo = oPokemon.types[0].type.name;
        ancho = oPokemon.weight.ToString();
        alto = oPokemon.height.ToString();
        imagen = $"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{oPokemon.id}.png";
        xp = oPokemon.base_experience.ToString();
        habilidad = oPokemon.abilities[1].ability.name;
        movimiento = oPokemon.moves[0].move.name;
        estado = "visible";


    }
}